@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css'); 

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
}

.cardContainer {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;

    overflow: hidden; 
}

/* Header and footer styles */
header,
footer {
    background-color: dodgerblue;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 80px;
    padding: 10px 20px;
}

.menu {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%; 
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    position: absolute;
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

header img,
footer button img {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; /* Circular profile and icon images */
}

footer button {
    margin-left: auto; 
    margin-right: auto;
}


footer {
    border: 2px solid;
    align-items: center;
}

footer button {
    padding-left: 30px;
    background: none;
    border: none; 
    padding: auto;
    cursor: pointer; 
}

footer button:hover {
    opacity: 0.8;
}

/* Main content styles */
.main-container {
    flex: 1; /* Allow main content to fill remaining space */
    padding: 20px;
}


.card-container {
    
    max-height: 400px;
    overflow-y: auto; 
}
