<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Card Component</title>
    <link rel="stylesheet" href="/src/components/postCard/postCard.css">
    <script defer src="/src/components/postCard/postCard.js" ></script>
</head>
<body>
    <div class="cardContainer">
        <header class="header">
            <div class="profileImg" >
                <img src="/public/assets/bird.jpg" alt="Profile Picture">
                <span class="username">username</span>
    
            </div>    

            <div class="menu"><i class="fa-solid fa-ellipsis"></i>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div> 
                

        </header>

        <main class="mainContainer" >
            <div class="postImg" >
                <img src="public/assets/solitude.png" alt="Post Image">
            </div>
            <h2>Post Title</h2>
            <p>Post Content Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit veritatis ex velit perferendis atque omnis, laboriosam reiciendis, assumenda adipisci id quibusdam at facilis, temporibus in non earum iste commodi mollitia!</p>
        </main>

        <footer>
            <button>
            <i class="fa-solid fa-heart"></i>
            </button>
            <button <i class="fa-solid fa-comment"></i>
                </button>
            <button <i class="fa-solid fa-share"></i> </button>
        </footer>

    </div>
    
</body>
</html>