
.SmHeader{
    background-color: rgb(10, 0, 40);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0px 4px 80px rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgb(72, 52, 255);
    height:6em;
}

.main-container {
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    color: white;
}
